<div class="d-flex justify-content-between">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Josefin+Sans&display=swap" rel="stylesheet">
    </head>
    <div class="p-1">
        <img class="logo" src="/assets/img/jilly_ghost.png" alt="JillyGhost">
    </div>
    <div class="p-1">
        <nav>
            <a routerLink="/education">education</a>
            <a routerLink="/business">business</a>
            <a routerLink="/about">about</a>
        </nav>
    </div>
    <div class="button">
        <nav>
            <a routerLink="/signup">signup</a>
        </nav>
    </div>
    <div class="button">
        <nav>   
            <a routerLink="/login">login</a>
        </nav>
</div>