.centeringPadding {
    padding-left:25em;
    padding-right:25em;
    padding-top:5em;
}

h1 {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 5em;
    padding-bottom: .5em;
    line-height: 50px;
    text-align: center;
    color: #000000;
}

p {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    padding-top: .5em;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
