<html>
    <head>
        <title>Business Package</title>
    </head>

    <body>
        <div class ="space"></div>
        <div class = "heading">Business Package 
            <img class= "image-bus" src="/assets/img/business.png" alt="bus">
        </div>

        <div class ="space"></div>
        <p>
        With the education package colleges, universities, and other educational organizations can post important announcements about updates and changes within the school. 

        Administration can host surveys and polls to connect with students and get honest feedback.

        Increase student involvement today with POLLtergeist!
        </p>
    </body>
</html>

