.title {
    text-align: center; 
}

.graphBackground {
    background-color: #E7F3FF;
    height: 500px; 
    margin: auto; 
    width: 500px;
    padding: 40px;
    margin-top: 55px; 
    text-align: center;

}

.viewPoll {
    width: 250px; 
    margin-top: 40px;
    padding: 20px;
    height: auto; 
    color: black;
    background-color: #E2E2E2;
    border-color: #E2E2E2;
    border-radius: 12px; 
    margin-left: 42%; 
}