@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.example-section {
    text-align: center;
}

hr {
  clear: both;
  visibility: hidden;
}

//inline elements 
.layoutIn {
    display: inline-flex;
    justify-content: space-between;
    vertical-align: bo;
}
.MC {
  vertical-align: auto;
  flex-direction: column;
 
}
.example-form {
    width: 500px;
    width: 100%;
    margin-left: 50px; 
    overflow: hidden; 
    display: inline-block;
  }

  //does not do anything
  .mat-form-field-label{
    color:white !important;
  }


  //rectangle for survey title
  .rectangle {
      background-color: #4072AD;
      color: white; 
      border-radius: 12px;
      height: 80px;
      width: 1000px;
      max-width: 500px;
      overflow: hidden; 
      display: inline-block;
      padding: 10px; 

  }
  
  .example-full-width {
    width: 100%;
  }

.top {
    margin-top: 80px;

}

.right {
   right: 135px; 
   position: absolute; 
   //scroll-snap-stop: always;
    //margin-left: 250px;
   //display: inline-block;

}

.question {
   // min-width: 150px;
  //  max-width: 500px;
    width: 800px; 
   // width: 100%;
    height: auto; 
    margin-left: 50px; 
    overflow: hidden; 
    display: inline-block;
    background-color: lightblue;
    border-radius: 9px;
    padding: 30px; 
}


.txtArea {
   height: 100px; 
   width: 500px;
   overflow: hidden; 
   display: inline-block;

}

.backgroundForm {
   width: 90%;
   height: auto;
   background-color: #E7F3FF;
   border: thin;
   margin: auto;
   margin-top: 50px; 
   padding: 20px; 
   padding-top: 50px;

}

.center {
    margin: auto; 
    text-align: center; 
}


//submit button
#submit {
    border-radius: 10px; 
    border-color: #4072AD ;
    background-color: #4072AD ;
    width: 100px;
    height: 40px; 
    color: white;
}

body {
    overflow: hidden;
}

.submitted {
  position: absolute;
    width: auto;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;  

}