<div *ngIf="!sucess">
<form [formGroup] = "surveyForm">
  <!-- Value: {{surveyForm.value|json}} -->
<hr>

<!-- title and date picker aligned on the same line -->
<div class = "layoutIn">
  <div class = "example-form">
      <div class = "rectangle">
        <mat-form-field class="example-full-width">
         <mat-label>Title of Survey</mat-label>
            <textarea matInput placeholder="Ex. Survey1"></textarea>
        </mat-form-field>
      </div>
    </div>
  
  <!-- choose date for deadline -->
    <div class = "right">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

<div formArrayName = "freeResponse">
  <div *ngFor = "let frq of frqForms.controls; let i = index" [formGroupName]= "i">

      <!-- first question : free response  -->

    <div class = "top"></div>

    <div class = "question">
        <div class="example-container">
          <mat-form-field style= "width: 600px;" appearance="fill">
           <mat-label>Title of Question 1</mat-label>
            <input matInput>
          </mat-form-field>
   
<br>

<!-- answer to question 1  -->
          <mat-form-field  style = "width: 500px;" appearance="outline">
              <div class = "txtArea">
                <textarea matInput></textarea>
              </div>
           </mat-form-field>
        </div>

        <button mat-raised-button color = "warn" (click) = "deleteFRQ(i)">Delete</button>
    </div>

<!-- these divs close array and nested form group free response -->
  </div>
</div>
<!-- don't delete above divs -->
<!-- button to add -->
<div formArrayName = "multipleChoice">
  <div *ngFor = "let mc of mcForms.controls; let i = index" [formGroupName] ="i">
    <!-- question 2 : multiple choice  -->
  <div class = "top"></div>

    <div class = "question">
        <div class="example-container">
          <mat-form-field style= "width: 600px;" appearance="fill">
            <mat-label>Title of Question 2</mat-label>
            <input matInput>
          </mat-form-field>
   
<br>

<!-- answer choices  -->
          <div class = "MC">
            <mat-radio-button style= "padding-left:10px;" value="1">Option 1</mat-radio-button>
            <br>
            <mat-radio-button style= "padding-left:10px;" value="1">Option 1</mat-radio-button>
            <br>
           <!-- <button mat-icon-button (click) = "addOption()"> -->
            <mat-icon>add_box icon</mat-icon>
            <!-- </button> -->
          </div>
        </div>
        <button mat-raised-button color = "warn" (click) = "deleteMC(i)">Delete</button>
    </div>
<!-- below divs close array and form group -->
  </div>
</div>
<!-- above divs close array and form group -->

<div formArrayName = "checkList">
  <div *ngFor = "let cl of clForms.controls; let i = index" [formGroupName] ="i">

<!-- question 3 : checklist -->
    <div class = "top"></div>

    <div class = "question">
      <div class="example-container">
         <mat-form-field style= "width: 600px;" appearance="fill">
            <mat-label>Title of Question 3</mat-label>
            <input matInput>
           </mat-form-field>
   
<br>

<!-- answer choices  -->
          <div class = "MC">
            <mat-checkbox style= "padding-left:10px;"> Check Me! </mat-checkbox>
            <br>
            <!-- <button mat-icon-button (click) = "addOption()"> -->
              <mat-icon>add_box icon</mat-icon>
            <!-- </button> -->
          </div>
      </div>
      <button mat-raised-button color = "warn" (click) = "deleteCL(i)">Delete</button>
    </div>
<!-- below divs close array and form group -->
  </div>
</div>
<!-- above divs close array and form group -->
<div class = "top"></div>
<!-- menu to add more questions  -->
<div class = "center">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>add_circle_outline icon</mat-icon>
  </button>

<!-- to add -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <span (click) = "addFRQ()"> Free Response</span>
      </button>
      <button mat-menu-item>
       <span (click)= "addMC()">Multiple Choice</span>
      </button>
      <button mat-menu-item>
        <span (click)= "addCL()">CheckList</span>
      </button>
    </mat-menu>

</div>

<div class = "top"></div>
 <div class = "center">
    <button  id='submit'>
      <span (click) = "submission()">Submit</span>
    </button>
 </div>

</form>
</div>

<div class = "submitted" *ngIf = "sucess"> You have successfully created a survey!</div>