<head>
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<h1 id="header">business package
<img src="/assets/images/business.png" alt="Business Package Icon" width="80" height="90">
</h1>
<div class="subheader">
    <h3 id="body">The business package allows businesses and organizations to post important announcements and updates directly to employees.</h3>
    <h3 id="bodyTwo">Managers and executives can host surveys and polls to connect with their employees and find out how they really feel about select issues within the company.</h3>
    <h3 id="bodyThree">Increase employee involvement today with POLLtergeist!</h3>
</div>
