
.formTitle {
    border-radius: 12px;
    background-color: #023E7D;
    height:auto;
    width: 85%;
    margin:auto; 
    padding: 30px;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px; 
}
