<!DOCTYPE html>
<body background="##93C7FF">
</body>
<html>
  <body>
      <div>
       <img [src] = 'HomePageLogo'
       [style.width.px] = 'imageWidthLogo'
       [style.margin.px] = 'imageMarginLogo'>
      </div>

      <div>
        <img [src] = 'EducationPackage'
        [style.width.px] = 'imageWidthEP'
        [style.margin.px]= "imageMarginEP">
      </div>

       <div>
        <img [src] = 'BusinessPackage'
        [style.width.px] = 'imageWidthBP'
        [style.margin.px] = 'imageMarginBP'>
       </div>
    </body>
</html>  

