.header
{
    background-color: #0466C8;
    padding-bottom: .5em;
    padding-top: .5em;
}

.d-flex
{
    background-color: #0466C8;
}

.circlelogo
{
    width: 5em;
    height: 5em;
    padding: .2em;
}