<html>
    <head>
        <title>Education Package</title>
    </head>

    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }

        .heading {
            text-align: center;
            font-weight: bold;
            font-family: 'Jolly Lodger';
            font-size: 30px;
        }

        .image-edu {
            height: 100px; 
            float: right; 
            display: block;
        }
    </style>
   
    <div class = "image-edu"> 
        <img [src] = "edubook"
        class="img-fluid" 
        alt="Book">
    </div>

    <br>
    <br>

    <div class = "heading">Education Package</div> 

    <br>
    <br>
    <br>
    <br>
    <br>
  
    <body>
        <p>
        With the education package colleges, universities, and other educational organizations can post important announcements about updates and changes within the school. 

        Administration can host surveys and polls to connect with students and get honest feedback.

        Increase student involvment today with POLLtergeist!
        </p>
    </body>
</html>
