<html>
    <head>
        <title>Education Package</title>
    </head>

    <body>
        <div class ="space"></div>
        <div class = "heading">Education Package 
            <img class = "image-edu" [src] = "edubook"
            alt="Book"
            ></div> 


        <div class ="space"></div>
        <p>
        With the education package colleges, universities, and other educational organizations can post important announcements about updates and changes within the school. 

        Administration can host surveys and polls to connect with students and get honest feedback.

        Increase student involvment today with POLLtergeist!
        </p>
    </body>
</html>
