
<head>
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <button type="button">save as draft</button>
    <button type="submit">submit</button>
<p style="text-align: left; top:10px; margin: 15px 20px -30px;font-size:25px;">click to edit:</p>
    <button type="button" class="button2"> Title of New Poll </button>
    <p style="text-align: right; margin: 100px 100px;font-size:25px">Choose a Deadline:</p> 

<div class= "deadline">
<mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
</div>

<div class="rectangle2">
<div class="question">
    <div class="rectangle">
    <h1>Question 1</h1>
    </div>

    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 1</p>

    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 2</p>

        <div class="plus"><img src="/assets/img/plus_sign.png" width="30" height="40"></div>
        <p>Add another option</p>
</div>
</div>

<div class="checkxmark">
<img src="/assets/img/checkmark.png" width="70" height="70">
<img src="/assets/img/x_mark.png" width="70" height="70">
</div>

<div class="rectangle2">
<div class="question">
    <div class="rectangle">
    <h1>Question 2</h1>
    </div>

    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 1</p>
    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 2</p>

    <div class="plus"><img src="/assets/img/plus_sign.png" width="30" height="40"></div>
    <p>Add another option</p>
</div>

</div>
<div class="checkxmark">
<img src="/assets/img/checkmark.png" width="70" height="70">
<img src="/assets/img/x_mark.png" width="70" height="70">
</div>

<img src="/assets/img/plus_sign.png" width="40" height="50" class="center">

</body>
