
<head>
    <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
  
    <button class="button">save as draft</button>
    <button class="submit">submit</button>

<p style="text-align: left; top:10px; margin: 15px 20px -30px;font-size:25px;">click to edit:</p>
  <!----------
    <button type="button" class="button2"> Title of New Poll </button>
------>
    <p style="text-align: right;margin:100px 100px;font-size:25px;">Choose a Deadline</p> 

<div class= "deadline">
<mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
</div>

 <!----- This creates the title for a new poll><------>
<form [formGroup]="myForm">
  <div class="form-group">
    <label for="title">Title of New Poll</label>
    <input type="text"
           id="title"
           class="form-control"
           placeholder="Title"
           name="title"
           formControlName="title"
           required>
  </div>
  <!------- add and delete question><----->
  <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm" (click)="addNewQuestion()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Question
  </button>
  <div formArrayName="questions">
    <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let question of myForm.get('questions')['controls']; let i=index">
      <fieldset>
        <legend><h4>Question {{i+1}}:<button style="margin-left:35px;" type="button" class="btn btn-danger" (click)="deleteQuestion(i)">
<span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove Question
</button>
</h4></legend>
        <div [formGroupName]="i">
          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right:20px;" class="col-form-label" for="question">Question</label>
              <input type="text"
                     class="form-control"
                     id="question"
                     placeholder="Question"
                     name="type"
                     formControlName="question" 
                     style="margin-right:5px;" 
                     required>
              <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewOption(question.controls.options)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Options
              </button>
              

            </div>
          </div>
          <div class="form-inline">
            <div class="form-group">
              <div formArrayName="options">
                <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let option of question.get('options').controls; let j=index">
                  <div [formGroupName]="j">
                    <div class="form-group">
                    <label style="margin-right:25px;"  class="col-form-label" for="emailId">Option {{j + 1}}</label>
                    <input formControlName="option"
                           class="form-control"
                           style="margin-right:5px;" 
                           type="email"
                           placeholder="Option"
                           id="option"
                           name="option"
                            />
                 <button style="margin-right:5px;" type="button" class="btn btn-danger btn-sm" (click)="deleteOption(question.controls.options, j)">
<span class="glyphicon glyphicon-minus"aria-hidden="true">Remove Option</span>
</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  
  <button type="submit" class="btn btn-success">Submit</button>
  <button type="button" class="btn btn-basic" >Cancel</button>
</form>

 <pre>{{myForm.value | json}}</pre>

<!----------
    <div class="checkxmark">
        <input type="image" src="assets/img/checkmark.png" alt="Submit" width="52" height="52">
        <input type="image" src="assets/img/x_mark.png" alt="Delete" width="48" height="48">
    </div>

    <div class="plus">
      <input type="image" src="/assets/img/plus_sign.png" width="35" height="48">
    </div>
 ------>   
<!----------
          <div class = "option">
            <div class="example-container">
              <mat-form-field class="example-full-width;">
                <mat-checkbox>
                <mat-label>OPTION</mat-label>
            </mat-checkbox>
                  <input matInput>
              </mat-form-field>
  ------>  

<!------------------
    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 1</p>

    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 2</p>

        <div class="plus"><img src="/assets/img/plus_sign.png" width="30" height="40"></div>
        <p>Add another option</p>
</div>
</div>

<div class="checkxmark">
<img src="/assets/img/checkmark.png" width="70" height="70">
<img src="/assets/img/x_mark.png" width="70" height="70">
</div>

<div class="rectangle2">
<div class="question">
    <div class="rectangle">
    <h1>Question 2</h1>
    </div>

    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 1</p>
    <div class="bluebutton">
    <img src="/assets/img/blue_button.png" width="30" height="40">
    </div>

    <p>Option 2</p>

    <div class="plus"><img src="/assets/img/plus_sign.png" width="30" height="40"></div>
    <p>Add another option</p>
</div>

</div>
<div class="checkxmark">
<img src="/assets/img/checkmark.png" width="70" height="70">
<img src="/assets/img/x_mark.png" width="70" height="70">
</div>

<img src="/assets/img/plus_sign.png" width="40" height="50" class="center">

</body>
------->
