.navySquare {
    background-color: #001845;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 5em;
    width: 890px;
    height: 653px;
    left: 275px;
    top: 170px;
    padding: 50px;
    //margin: 20px;
  }

.button {

  background: #0466C8;
  border-radius: 10px;
  border: none;
}

.buttonText {
  color: #FFFFFF;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
}

h1 {
    text-align: center;

    color: #FFFFFF;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
}

p {
    text-align: left;

    color: #FFFFFF;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    padding-left: 2em;
}

