<!--COPIED FROM THE VIEWPOLL VIEW-->
<!-- @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); -->

<!-- title -->
<div class = "formTitle">Survey1</div>

<!-- view data button -->
<div class = "viewData">View Data</div>

<br>
<br>
<br>

<!-- poll options -->
<div style = "margin: auto;" class = "questionBackground">
  <div style = "font-size: 20px;">If you have to work from home for the next 3 months, please list everything you would need.</div>
  <br>

  <mat-form-field  style = "width: 20em;" appearance="outline">
    <div class = "txtArea">
      <textarea  matInput placeholder="Write your response here...." formControlName="answer"></textarea>
    </div> 
 </mat-form-field>
</div>

<div class = "center">
  <button id='submit'>
    <span (click) = "toPolls()">Submit</span>
  </button>
</div>