
<div class = "rectangle">
<div class ="heading">Drafts</div>
</div>


<h1>Polls</h1>
<div class = "rectangle3">
    <p>Draft Name</p>
        <button style="background: url(trash.png); color:white" type="button" class="trash">
        <input type="image" src="assets/img/trash.png" width="50" height="50"/>
        </button>
        <div class="circle">Edit</div>
    <p>Date Created:8/3/2020</p>

    <!----------
    <mat-form-field class="draftName">
        <mat-label style="color:black; font-size:20px;margin-left:10px;">Draft Name</mat-label>
           <textarea style = "font-size: 20px;margin-left:10px;" formControlName="title" matInput placeholder="Ex: Draft"></textarea>
       </mat-form-field>
<div class ="draftDate">
    <mat-form-field class="draftDate">
        <mat-label style="color:black; font-size:20px;margin-left:10px;">Date Created</mat-label>
           <textarea style = "font-size: 20px; margin-left:10px;" formControlName="title" matInput placeholder="Ex. 1/1/2020"></textarea>
    </mat-form-field>
    </div>
------>
</div>
<h1>Surveys</h1>
