<div class = "navySquare">
    <h1>sign up</h1>
    <p>employer id</p>
    <!--TEXT BOX TO TYPE ID-->
    <div class = "whiteSquare">
      <mat-form-field value="accent" appearance="fill">
        <input matInput>
      </mat-form-field>
    </div>
      <p style="padding-top: .5em">employer passcode</p>
      <!--TEXT BOX TO TYPE PASS-->
      <div class = "whiteSquare">
        <mat-form-field value="accent" appearance="fill">
          <input matInput>
        </mat-form-field>
      </div>

    <!--CREATE ACCOUNT BUTTON-->
    <div class="buttonPadding">
      <div class="button">
          <nav>   
              <a class="buttonText" routerLink="/createaccount">create account</a>
          </nav>
      </div>
    </div>

</div>
