<!-- navy square goes here-->
<div class = "navySquare">
    <h1>sign up</h1>
    <p>employer id</p>
    <!--TEXT BOX TO TYPE ID HERE-->
    <textarea matInput formControlName=“answer”></textarea>
    <p>employer passcode</p>
    <!--TEXT BOX TO TYPE PASS HERE-->
<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>

    <!--CREATE ACCOUNT BUTTON HERE-->
    <div class="button">
        <nav>   
            <a class="buttonText" routerLink="/createaccount">create account</a>
        </nav>
    </div>

</div>
