<html>
    <head>
        <title>About Us</title>
    </head>

    <body>
        <div class ="space"></div>
        <div class = "heading">About
            ></div> 


        <div class ="space"></div>
        <p>
            POLLtergeist is a web app that combines surveys, polls, and announcements to generate anonymous feedback from employees for small and medium-sized companies and organizations.
        </p>

        <p>
        “At POLLtergeist, we created a platform for users to voice their opinions, give feedback, create and complete surveys and polls, and messages in order to encourage positive and productive communication for the future.”
        </p>
    </body>
</html>
