body{background-color: #93C7FF;}

html {
    background-color: #93C7FF;
}

.off-centerLeft{
    display: block;
     margin-left: 350px;
     margin-right: auto;
     width: 40%
   
}

.off-centerRight{
    display: block;
    margin-left: 520px;
    margin-right: auto;
    width: 40%

}

.space {
    margin-top: 100px;  
}

 
