<!DOCTYPE html>
  <body>
    <!-- homepage logo at very top  -->
      <div class = "container-fluid">
        <div class = "span1">
          <img [src] = 'HomePageLogo'
          [style.width.px] = 'imageWidthLogo'        
          style ="display:block"
          class="img-fluid" 
          class=" mx-auto d-block"
          alt="Responsive image">
        </div>

      <br>
 <!-- makes education package off center to the left and clickable --> 
 <div class = "off-centerLeft">
  <form (ngSubmit) = 'onEdu()'>
  <input type="image" 
  [src]= 'EducationPackage'
  class=" img-fluid"  
  alt="Education Package"
  (click)="onEdu()">
  </form>
</div>

<!-- makes business package off center to the right and clickable -->
<div class = "off-centerRight">
  <form (ngSubmit) = 'onBus()' > 
    <input type = "image"
    [src] = 'BusinessPackage'
    class="img-fluid"  
    alt="Responsive image"
    (click) = "onBus()">
  </form>
</div>
<!-- space  -->  
    </div>
</body>