


<div class="centeringPadding">

    <div class="text">
        <h1>my account</h1>
        <p>username: myusername</p>
        <p>email: myemail@email.com</p>
    </div>
    
    <!-- CHANGE USERNAME BUTTON -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/changeuser">change username</a>
            </nav>
        </div>
    </div>

    <!-- CHANGE EMAIL BUTTON  -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/changeemail">change email</a>
            </nav>
        </div>
    </div>

    <!-- CHANGE PASSWORD BUTTON -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/changepass">change password</a>
            </nav>
        </div>
    </div>

</div>

