<div class="centeringPadding">
    
    <!--MY ACCOUNT BUTTON -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/myaccount">my account</a>
            </nav>
        </div>
    </div>

    <!-- PRIVACY BUTTON -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/privacy">privacy</a>
            </nav>
        </div>
    </div>

    <!-- HELP -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/help">help</a>
            </nav>
        </div>
    </div>

</div>
