.buttonPadding{
    padding: 3em;
    padding-left: 15em;
  }
  
.button {
    background: #0466C8;
    border-radius: 10px;
    width: 16.5em;
    height: 6em;
    border: none;
  }
  
.buttonText {
    color: #FFFFFF;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
  }

.centeringPadding {
    padding-left:43em;
    padding-top:6em;
}
