<p>account works!</p>
<div class="centeringPadding">
    
    <!--MY ACCOUNT BUTTON -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/polls">my account</a>
            </nav>
        </div>
    </div>

    <!-- PRIVACY BUTTON -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/polls">privacy</a>
            </nav>
        </div>
    </div>

    <!-- HELP -->
    <div class="buttonPadding">
        <div class="button">
            <nav>   
                <a class="buttonText" routerLink="/polls">help</a>
            </nav>
        </div>
    </div>

</div>

