<html>
    <head>
        <title>About Us</title>
    </head>

    <body>
        <div class ="space"></div>
        <div class = "heading">About Us 
            
            ></div> 

        <div class ="space"></div>
        <p>
        POLLtergeist is a web app that combines surveys, 
        polls, announcement posts to generate anonymous 
        feedback from employees for small and medium-sized companies and organizations.

        At POLLtergeist we create a platform for users 
        to voice their opinions, give feedback, survey, 
        create polls, and messages in order to encourage 
        positive and productive communication for the future.
        </p>
    </body>
</html>
