@font-face {
    font-family: 'Jolly Lodger';
    src: url('JollyLodger.woff2') format('woff2'),
        url('JollyLodger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}