button{
    border:none;
    border-radius:5px;
    background-color:#001233;
    color: white;
    text-align: center;
    height: 40px;
    width: 10%;
    float: right;
    position: relative;
    margin: 10px;
    //left:10;
    //right:
    top:20px;
    font-family: 'Josefin Sans', sans-serif;
}
input{
    border:none;
    background-color: #001233;
    color: white;
    text-align: center;
    border-radius:5px;
    height: 40px;
    width: 10%;
    float: right;
    position: relative;
    left:80;
    top:20px;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.button2{
    background-color: #023E7D;
    color: white;
    text-align: center;
    height: 50px;
    width: 15%;
    float: left;
    position: relative;
    left:80;
    top:20px;
    margin: 15px;
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    margin:50px;
    font-size: 0.9em;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; 
    margin: 40px 80px;
}
.rectangle{
    height: 30px;
    //top: 20px;
    width: 400px;
    //text-align: justify;
    color: white;
    margin: 50px;
    border-radius: 5px;
    background-color: #023E7D;
}
.bluebutton{
    //margin: 30px;
    padding-left: 40px;
    float: left;
}
.plus{
    padding-left: 40px;
    float: left;
    //padding-bottom: 45px;
    //padding-top: 25px;
}
.checkxmark{
    float: right;
    position: relative; 
    margin-right: 200px;
    top:-200px;
}
.rectangle2{
    background-color:#C4C4C4;
}