<div class = "navySquare">
    <h1>create your account</h1>
    
    <p>email</p>
    <!--TEXT BOX TO TYPE ID-->
    <div class = "whiteSquare">
      <mat-form-field value="accent" appearance="fill">
        <input matInput>
      </mat-form-field>
    </div>

    <p style="padding-top: .5em">username</p>
    <!--TEXT BOX TO TYPE PASS-->
    <div class = "whiteSquare">
      <mat-form-field value="accent" appearance="fill">
        <input matInput>
      </mat-form-field>
    </div>

    <p style="padding-top: .5em">password</p>
    <!--TEXT BOX TO TYPE PASS-->
    <div class = "whiteSquare">
      <mat-form-field value="accent" appearance="fill">
        <input matInput>
      </mat-form-field>
    </div>

    <!--CREATE ACCOUNT BUTTON-->
    <div class="buttonPadding">
      <div class="button">
          <nav>   
              <a class="buttonText" routerLink="/polls">login</a>
          </nav>
      </div>
    </div>

</div>
