//.copyright
    //flex-grow: 1
    //align-self: center
    
footer{
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    //letter-spacing: 1px;
    font-size: 100%;
    line-height: 30px;
    padding-top: 2px;
    background-color: #979DAC
}